.creditMain {
  width: 100%;
  border: 1px solid lightgrey;
}

.one {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.one > div:nth-child(1) {
  text-transform: capitalize;
  color: rgb(92, 92, 92);
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 500;
}

.one > div:nth-child(2) {
  font-size: 9.8px;
  padding: 0.25rem 0.35rem 0.15rem;
  border: 1px solid rgb(27, 187, 51);
  border-radius: 5px;
  background-color: rgba(27, 187, 51, 0.05);
  color: rgb(27, 187, 51);
  font-size: 0.7rem;
  line-height: 1.2em;
  text-align: center;
}

.upiPara {
  padding: 10px;
}

.inputField {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  height: 2.5rem;
  width: 90%;
  border-radius: 5px;
  margin-left: 10px;
}

.yearMnDiv {
  display: flex;
  justify-content: space-between;
}

.cvvImg {
  width: 45px;
  height: 33.53px;
  margin-top: 10px;
  margin-right: 50px;
  padding-right: 100px;
}
.secDiv {
  /* width: 188px; */
  /* height: 35px; */
  display: flex;
}
.expDate {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  height: 2.5rem;
  width: 50%;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardBtn {
  width: 95%;
  height: 2.5rem;
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 0.925rem;
  background-color: rgb(0, 175, 239);
  letter-spacing: 0.5px;
  font-family: Roboto, Lato;
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.protect {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.protect > div > img {
  width: 16.45px;
  height: 18.5px;
  padding-top: 3px;
}
.upiLogos {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
}
.upiLogos > div > img {
  width: 52.5px;
  height: 22.7px;
}
