.HeadContactus{
    color: rgb(138,140,139);
    text-align: center;
    background-color: rgb(242,249,229);
    padding: 20px;
}
.AContactusDetailCOnt>div{

    width: 50%;
    text-align: center;
}

.AContactusDetailCOnt{
    display: flex;
    width: 90%;
    margin: auto;
}
.ContactDet,.AContactDet{
    display: flex;
    gap: 10px;
    padding: 10px;
    text-align: left;
}
.Acontacticon{
    display: flex;
    justify-content: space-evenly;
}
.Acontacticon>img{
    height: 50px;
    width: 50px;
    margin-bottom: 25px;

}
.contactForm p{
   text-align: left;
   margin-bottom: 0px;
}
.contactForm input{
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 2px solid rgb(138,140,139);
    outline: none;
}
.contactForm select{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(138,140,139);
    outline: none;
}
.contactForm button{
    text-align: center;
    padding-top: 8px;
    width: 100%;
    border: none;
    background-color: #00aeef;
    height: 40px;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0px;
    margin-bottom: 30px;
}
@media(max-width:900px){
    .AContactusDetailCOnt{
       flex-direction: column;
    }
    .AContactusDetailCOnt>div{
        width: 100%;
    }
    .Acontacticon{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .AContactDet{
       flex-direction: column;
    }
    .AContactDet span{
        text-align: center;
        
    }
}