body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.AdescriptiveDiv{
    width: 80%;
    margin-top: 50px;
}

.AprofileMainDiv{
    margin: 14px;
    display: flex;
    /* justify-content: space-around; */
    gap: 30px;
    border: solid 1px rgb(193 193 193);
}
.AprofileMainDiv>div{
    /* border: solid red 2px; */
}

.AclickableDivContainer{
    border: solid 1px rgb(193 193 193);
    width: 200px;
    min-width: 170px;
    height: max-content;
    cursor: pointer;
    margin: 20px;
}
.AactivableDiv{
    border-bottom: solid 1px rgb(193 193 193);
    display: flex;
    gap: 5px;
    padding: 2.85px;
}
.AclickableDivContainer :hover{
   background-color: #f2fbfe;
}

.AactivableDiv>img{
    height: 30px;
}
.AactivableDiv>p{
   margin-top: 5px;
}
.AclickableDivContainer>div:last-child{
   
    border-left: solid 1px rgb(193 193 193);
    border-right: solid 1px rgb(193 193 193);
}
