.AotpPage{
    text-align: center;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    padding: 15px;  
    color: rgba(119,119,119);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.AotpHead{
    color: #00aeef;
    text-align: center;
    font-size: 20px;
    margin: 1px 0px 0px;
}
.AotpBack{
    position:relative;
    left: -130px;
    margin-left: -30px;
}
.Aotping>img{
    height: 80px;
    width: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid teal 2px;
}
a{
    color:#00aeef;
}
.AEnterText{
    text-align: center;
    margin-top: 33px;
}
.AotpinptField{
    margin-top: 15px;
    display:flex;
    /* border: solid 2px red; */
    justify-content: center;
    gap: 30px;
}
.otp-field{
    height: 35px;
    width: 35px;
    text-align: center;
    border: 2px solid grey;
    -webkit-transition: 0.5s;
    transition: 0.5s;
     outline: none;
}
.otp-field:focus{
    border: 2px solid #00aeef;
}
.AresentOTP{
    margin-top: 35px;
    color: #00aeef;
    cursor: pointer;
}
.AsubmitOTP{
    margin-top: 100px;
}
.BpopupOTP>p{
    color: red;
}
.AsubmitOTP>button{
    text-align: center;
    padding-top: 8px;
    width: 100%;
    background-color: #00aeef;
    height: 40px;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
}
.AnotShare{
    margin-top: 14px;
    font-size: 10px;
}

@media(max-width:765px){
    .AotpPage{
        width: 95%;
    }
}