.product-images-slider{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding:5px;
     .Swiper-slide{
         padding-top: 100%;
         overflow: hidden;
         position: relative;

         img{
            position: absolute;
            top:0;
            left:0;
            width:100%;
        }
     }
      
     .swiper-button-prev{
         left:0;
         color:#000;
     }
     
     .swiper-button-next{
         right:0;
         color:#000;
     }
}
.product-images-slider-thumbs{
    .swiper-slide{
        cursor: pointer;
        border: 1px solid #dddbdb;
        margin-top: 2%;
        
        &-thumb-active{
            border-color: #ff0000;
        }
    }

    &-wrapper{
        width:100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top:0;
            left:0;
            width:100%;

        }
    }
}