body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.AloginBack {
    position: relative;
    top: -30px;
    left: 370px;
}

.Alogin {

    width: 400px;
    /* border: solid red 2px; */
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    color: rgba(119, 119, 119);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ALoginheading {
    color: #00aeef;
    text-align: center;
    font-size: 20px;
    margin: 1px 0px 0px;
}

.Aintero {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 23px 0px 0px;
    /* border: solid red 2px; */
}

.Aintero img {
    height: 100%;
}

.Aintero>div:nth-child(1) {
    height: 70px;
    width: 65px;
}

.Aintero div:nth-child(2) {
    height: 70px;
    width: 220px;
    font-size: 14px;
}

.Atext {
    margin-top: 10px;
}

.AloginForm {
    /* border :solid teal 2px; */
}

.AinputDiv {

    margin-top: 42px;
    height: 30px;
    /* border :solid teal 2px; */
    /* width: 90%; */
}

.AinputDiv+div {
    margin-top: 48px;
    font-size: 14px;
}

.Apopup {
    color: red;
    font-size: 12px;
}

.AloginForm>div>span {
    color: #00aeef;
    font-weight: 600;

}

.AinputDiv input {
    height: 100%;
    width: 97%;
    padding-left: 10px;
    transition: 0.5s;

}

.AinputDiv input:focus {
    outline: none;
    border: none;
    border: 2px solid #00aeef;
}

.AloginButton {
    border: none;
    width: 90%;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #00aeef;
    height: 40px;
    color: white;
    vertical-align: middle;
    margin-top: 35px;
    cursor: pointer;
    border-radius:5px ;
}

.AGuest {
    /* border: #00aeef 2px solid; */
    text-align: center;
    margin-top: 35px;
}

.AGuest a {
    text-decoration: none;
    color: #00aeef;
}

@media (max-width:768px) {
    .Alogin {
        width: 90%;
        color: rgba(119, 119, 119);
    }
}