.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 85%;
  padding: 10px;
  margin: auto;
  gap: 25px;
  margin-top: 50px;
  
}
.ghost {
  border: 1px solid grey;
  border-radius: 10px;
  
}
.glamour {
  width: 290px;
  height: 250px;
}
.gavin{
  height:25px;
  width:85px;
  position: absolute;
  background-color: #82C341;
  margin-top: -250px;
  border-radius: 10px 0px 5px 0px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 5px 2px;

 
}
.grace {
  height: auto;
  width: 200px;
  font-size: 15px;
  margin: auto;
  color: #333333;
  font-weight: 600;
  text-align: center;
  height:98px;
}
.great{
  height:45px;
  text-align: center;
  font-weight: bold;
  color:#4B8B0B;
  font-size: 14px;
}
.gun {
  width: 43px;
  height: 31px;
  font-size: 19px;
  color: #1d1d1d;
  margin: auto;
  font-weight: bold;
  
}
.guts{
  display: flex;
}
.grade{
  display: flex;
  margin-left: 35%;
}

.g{
  color: #ffc300;
 
}

.genius{
  border-left: 1px solid grey;
  height:18px;
  margin-left: 5px;
  margin-top: 0px;
}
.golf {
  margin-left: 8px;
  font-size: 12px;
  color: #8a8c8b;
}
.gold {
  width: 100%;
  height: 48px;
  border: 2px solid #00afef;
  background-color: #ffffff;
  color: #00afef;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  margin-top: 20px;
}
.gold:hover {
  background-color: #00afef;
  color: #ffffff;
}
.eagle {
  width: 90%;
  height: 40px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.easter {
  border: 1px solid grey;
  background-color: white;
  color: #333333;
  height: 34px;
  width: auto;
  font-weight: 700;
  border-radius: 2px;
  padding: 6px;
}
.easter:hover {
  background-color: #dbe8e8b8;
}
.eclipse {
  width: 421px;
  height: 38px;
  background-color: #ffffff;
  color: #808080;
  font-size: 16px;
  padding: 0px 2px;
  border-radius: 5px;
}
.eclipse > option:hover {
  background-color: #00afef;
}
.echo {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
.educator {
  position: relative;
  height: 15px;
  width: 14px;
  top: -30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-weight: 500;
  line-height: 1.2em;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 175, 239);
  font-size: 8px;
}
.effort {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  display: none;
  overflow-y: scroll;
}
.faith {
  width: 24%;
  height: 650px;
  background-color: white;
  opacity: 1;
  padding: 100px 10px 0px 10px;
  overflow-y: scroll;
  position: fixed;
}
.faith > hr {
  border: 0.0001px solid rgb(221, 216, 216);
  margin-left: 10px;
  width: 90%;
}
.faith > h4 {
  margin-top: 0px;
  margin-left: 10px;
  font-family: sans-serif;
}
.faith p {
  margin-left: 10px;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}
#btn1 {
  height: 35px;
  width: 93%;
  margin-left: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
}
#btn1:hover {
  background-color: green;
}
.fox {
  display: flex;
}
.fish {
  position: absolute;
  top: 0;
  margin-top: 35px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  color: #00afef;
}
.flock {
  width: 85px;
  height: 85px;
  border: 1px solid grey;
  border-radius: 5px;
}
.follower {
  display: flex;
  justify-content: space-between;
  height: 90px;
  margin-top: 10px;
}

.hat {
  margin-top: 0px;
  text-align: start;
}
.hall {
  display: flex;
  justify-content: space-between;
  margin-left: 9px;
  margin-top: -10px;
  height: 40px;
}
.hall > div {
  height: 20px;
  width: 70px;
  margin-top: 10px;
}
.hall > div:first-child {
  font-weight: bold;
}
.hall > div:last-child {
  font-weight: bold;
  border: 2px solid #00afef;
  border-radius: 5px;
}
.heat {
  display: flex;
}
.heat > button {
  height: 20px;
  width: 27px;
  margin-right: 7px;
  background-color: white;
  border: none;
  font-size: 18px;
  color: grey;
  font-weight: bold;
}
.heat>button:hover{
  background-color: #00afef;
  color: white;
}
.heat > button:last-child {
  margin-left: 7px;
  color: #00afef;
}
.heat > button:last-child:hover{
  background-color: #00afef;
  color: white;
}
.hell {
  display: flex;
  justify-content: space-between;
  height: 35px;
}
.hell > div:first-child {
  width: 60%;
  color: #808080;
}
.hell > div:last-child {
  width: 25%;
}
.honesty {
  height: 40px;
  border: 1px solid red;
}
.footer__container {
  width: 100%;
  margin-top: auto;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 200;
  max-width: 410px;
}
.fine {
  box-shadow: rgb(0 0 0 / 12%) 0px -3px 6px;
  width: 85%;
  background-color: white;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 4px 15px;
}
.forest {
  color: black;
  font-size: 15px;
}
.fernando {
  color: rgb(0, 175, 239);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.fakhris {
  margin: auto 0px;
  background-color: rgb(0, 175, 239);
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: 0.21px;
  font-family: Roboto;
  font-weight: 500;
  padding: 0px 20px;
  font-size: 16px;
  height: 40px;
  border: none;
}
