.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 85%;
  padding: 10px;
  margin: auto;
  gap: 25px;
  margin-top: 50px;
}
.ghost {
  border: 1px solid grey;
  border-radius: 10px;
}
.glamour {
  width: 290px;
  height: 250px;
}
.grace {
  height: auto;
  width: 200px;
  font-size: 15px;
  margin: auto;
  color: #333333;
  font-weight: 600;
  text-align: center;
}
.gun {
  width: 43px;
  height: 31px;
  font-size: 19px;
  color: #1d1d1d;
  margin: auto;
  font-weight: bold;
  margin-top: 10px;
}
.grade {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-top: 40px;
  margin-left: 45%;
  margin-right: 0.9em;
  margin-bottom: 1.2em;

  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 0.3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 8px;
}
.grade:before,
.grade:after {
  content: "";

  display: block;
  width: 0;
  height: 0;

  position: absolute;
  top: 0.6em;
  left: -1em;

  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #fc0;
  border-left: 1em solid transparent;

  transform: rotate(-35deg);
}

.grade:after {
  transform: rotate(35deg);
}
.golf {
  margin-left: 12px;
  font-size: 12px;
  color: #8a8c8b;
}
.gold {
  width: 100%;
  height: 48px;
  border: 2px solid #00afef;
  background-color: #ffffff;
  color: #00afef;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px 0px 10px 10px;
  margin-top: 20px;
}
.gold:hover {
  background-color: #00afef;
  color: #ffffff;
}
.eagle {
  width: 90%;
  height: 40px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.easter {
  border: 1px solid grey;
  background-color: white;
  color: #333333;
  height: 34px;
  width: auto;
  font-weight: 700;
  border-radius: 2px;
  padding: 6px;
}
.easter:hover {
  background-color: #dbe8e8b8;
}
.eclipse {
  width: 421px;
  height: 38px;
  background-color: #ffffff;
  color: #808080;
  font-size: 16px;
  padding: 0px 2px;
  border-radius: 5px;
}
.eclipse > option:hover {
  background-color: #00afef;
}
